.taskListContainter{
  max-height: {{taskListMaxHeight}}px; /* Adjust height as needed */
  max-width: {{taskListMaxWidth}}px; /* Adjust width as needed */
  margin-top: {{taskListMarginTop}}px;
  margin-left: {{taskListMarginLeft}}px;
}
#taskList {
  background-color: {{taskListBackgroundColor}};
  max-height: {{taskListMaxHeight}}px;
  padding-bottom: 50px;
  overflow-y: hidden;
}

.taskListTitle {
  font-family: '{{tasklistTitleFontName}}', sans-serif;
  font-weight: {{tasklistTitleTextFontWeight}};
  font-size: {{tasklistTitleTextFontSize}}px;
  color: {{tasklistTitleColor}};
  background-color: {{tasklistTitleBackgroundColor}};
  padding: {{taskCellPaddingTop}}px {{taskCellPaddingRight}}px {{taskCellPaddingBottom}}px {{taskCellPaddingLeft}}px;
  border-radius: {{taskCellBorderRadius}}px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskListCount {
  font-size: 0.9em;
  font-weight: bold;
  opacity: 0.8;
}

#taskListBody{
  padding-bottom:30px;
}

.userSection {
  background-color: {{userSectionBackgroundColor}};
  border-radius: {{userSectionBorderRadius}}px;
  padding:10px;
  margin-bottom:5px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
}

.badge {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  margin-right: 5px; /* Adjust as needed */
  vertical-align: middle; /* Align with the user title */
}
.userTitle {
  font-family: '{{mainTextFontName}}', sans-serif;
  font-weight: bold;
  font-size: {{mainTextFontSize}}px;
  margin: 5px;
}

.taskItem {
  top: {{mainTextfontHeight}}%;
  line-height: {{mainTextFontSize}}px;
  font-family: '{{mainTextFontName}}', sans-serif;
  font-weight: {{mainTextFontWeight}};
  font-size: {{mainTextFontSize}}px;
  color: {{taskCellTextColor}}; /* Top Color */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: {{taskBackgroundColor}};
  padding-top: {{taskCellPaddingTop}}px;
  padding-bottom: {{taskCellPaddingBottom}}px;
  padding-left: {{taskCellPaddingLeft}}px;
  padding-right: {{taskCellPaddingRight}}px;
  border-style: solid;
  border-width: {{taskCellBorderWidth}}px;
  border-color: {{taskCellBorderColor}};
  border-radius: {{taskCellBorderRadius}}px;
}

.completedTask {
  background-color: {{completedTaskBackgroundColor}};
  text-decoration: line-through;
}

.taskItem input[type="checkbox"] {
  margin-right: 10px;
  width: {{checkboxSize}}px;
  height: {{checkboxSize}}px;
}

#taskStatusContainer {
  position: absolute;
  top: {{taskStatusTop}}px;
  left: {{taskStatusLeft}}px;
  width: {{taskStatusWidth}}px;
  height: {{taskStatusHeight}}px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#taskStatus, #taskStatusFinalGif {
  position: absolute;
  top: 0;
  left: 0;
  width: {{taskStatusWidth}}px;
  height: {{taskStatusHeight}}px;
  display: none;
}

#taskStatusBarBackground {
  position: absolute;
  top: 95%;
  left: 10%;
  width: 80%;
  height: 7.5%;
  background-color: rgba(255, 255, 255, 0.2); /* light background */
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

#taskStatusBarFill {
  height: 100%;
  width: 0%;
  background-color: {{progressBarFillColor}};
  border-radius: 10px;
  transition: width 0.5s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#taskStatusBarText {
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  font-family: '{{mainTextFontName}}', sans-serif;
  line-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.pulse-on-change {
  animation: pulse 0.6s ease;
}

.popupContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
  display: none;
}

.popup {
  background-color: {{doneFeedBackgroundColor}};
  color: {{doneFeedTextColor}};
  font-family: '{{mainTextFontName}}', sans-serif;
  font-size: {{mainTextFontSize}}px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  animation: fadeIn 0.5s, fadeOut 0.5s 3.5s;
}

.popupContainer2 {
  position: absolute;
  top: 70%;
  left: 40%;
  z-index: 1000;
  display: none;
}

.popup2 {
  position: relative;
  display: inline-block;
  background-color: transparent; /* transparent */
  color: #fff; /* Text color */
  padding: 0;
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

.popup2 img {
  width: 100%;
}

.popup2 .popupText {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px #4d4d4d;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}
